  <link rel="stylesheet" href="../assets/css/style_error.css">
  <script src="../assets/js/script_error.js"></script>

 <div class="cont_principal">
    <div class="cont_error">
      <h1>500</h1>
      <p>Internal Server Error.</p>
      {{!-- <p>{{{message}}}</p> --}}
      <button class="btn error_btn" onclick="goBack()"></i> Volver al inicio</button>
    </div>
    <div class="cont_aura_1"></div>
    <div class="cont_aura_2"></div>
  </div>