<nav class="navbar navbar-dark bg-dark fixed-top mb-5">
    <div class="container-fluid">
        <span class="navbar-brand">E-commerce BackEnd CoderHouse</span>
        <span class="navbar-brand">Bienvenido: {{UserName}}, eres un {{status}}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="material-symbols-outlined">
                shopping_cart
            </span>
        </button>
        <button class="navbar-toggler me-4" type="button" id="logout">
            <span class="material-symbols-outlined">
                logout
            </span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Tu carrito {{UserName}} contiene estos productos:</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" id="ul-toggle">
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="conteiner mt-5">
    <div id="productos_render" class="row justify-content-center">

    </div>
</div>
  <div class="fixed-bottom fixed-right p-3">
    <a href="chat" class="btn btn-success" role="button">
      <span class="material-symbols-outlined">forum</span> Chat
    </a>
  </div>
<script type="module" src="../scriptProduct.js"></script>