<div class="container mt-5 mb-4 p-4 border rounded shadow" style="width: 60%;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Titulo del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripcion</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Precio $</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Stock disponible</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Agregar producto">
            </form>
        </div>
    </div>
</div>
