<style>
    .custom-container {
        border: 1px solid #ddd; /* Borde gris */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        padding: 20px; /* Espaciado interno */
        border-radius: 8px; /* Bordes redondeados */
        margin-top: 50px; /* Margen superior para separar del borde superior */
    }
</style>

<div class="container mt-5 mb-4 p-4 border rounded shadow" style="width: 60%;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Titulo del producto</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripcion</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Precio $</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Stock disponible</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Agregar producto">
            </form>
        </div>
    </div>
</div>
